* {
  box-sizing: border-box;

  padding: 0px;
  font-family:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Fira Sans,
    Ubuntu,
    Oxygen,
    Oxygen Sans,
    Cantarell,
    Droid Sans,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Lucida Grande,
    Helvetica,
    Arial,
    sans-serif !important;
}

header {
  padding-left: 5px;
  width: 100%;
  display: flex;
}

.wrap {
  width: fit-content;
  border: 1px solid rgb(238, 238, 238);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 12px 12px 12px 1px rgb(226, 226, 226);
}

input {
  padding: 10px;
  margin-bottom: 12px;
  width: 100%;
  box-shadow: 0px 0px;
  border: 1px solid grey;
  border-radius: 2px;
  font-size: 20px;
}

input[type="checkbox"]:checked {
  background-color: #0a66c2;
  border: 1px solid#0a66c2;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #0a66c2;
  font-size: 15px;
}

a:hover {
  color: #79a4cf;
}

.footer {
  position: absolute;
  bottom: 0%;
  z-index: 10;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  word-spacing: 30px;
  margin-top: 600px;
}

.secondary-btn {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
}

.secondary-btn:hover {
  background: #f3f3f3;
  color: black;
}

.primary-btn {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0a66c2;
  font-size: 16px;
  font-weight: 500;
}

.primary-btn:hover {
  background-color: lightblue;
  color: rgb(26, 21, 21);
}

button {
  width: 100%;
  border-radius: 60px;
  border: none;
}

.footer-link {
  padding: 20px;
  color: rgb(119, 119, 119);
  font-size: 12px;
  font-weight: 500px;
}

.footer-link:hover {
  color: #0a66c2;
}
