
*{
    box-sizing: border-box;
   
    padding: 0px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif !important;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   

}

header{
    margin-top: -850px;
    padding-left: 5px;
}



.wrap{
    margin: auto;
   
    border: 1px solid rgb(238, 238, 238);
    align-content: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 30px;
    border-radius: 8px;
    flex-direction: column;
    box-shadow:  12px 12px 12px 1px  rgb(226, 226, 226) ;

}

input{
    padding: 10px;
    margin-bottom:12px;
    width: 100%;
    box-shadow: 0px 0px;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 20px;
}
 /* input[type="checkbox"]{
   
    height: 18px;
   
}  
 */




a{
    text-decoration: none;

    color:rgb(46, 97, 238);
    font-size: 15px;
    font-weight: 500;

    color:#0a66c2;
    font-size: 15px;
    font-weight: 1000;
    


   
}

a:hover{
    color: rgb(33, 98, 119);
}

button{
    width: 100%;
    padding: 12px;
    border-radius: 60px;
    color: white;

    background-color: rgb(46, 97, 238);

    background-color: #0a66c2;

    font-size: 20px;
    border: 1px solid transparent;
    margin-top: 50px;

    
}

button:hover{
    background-color: lightblue;
    color: rgb(26, 21, 21);

}




.checkbox{
    width: auto;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    
    

}


    
   
.click input{
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: 70px  10px;
    
}



.link p{
    position: absolute;
    bottom: 130px;
    right:45%;
   
    

    }   
    

.footer{
    position: absolute;
    bottom: 0%;
    z-index: 10;
    display:inline-flex;
    text-align: center;
    justify-content:center ;
    word-spacing: 30px;
    margin-top: 600px;
    

}


    .link p{
    position: absolute;
    bottom: 30px;
    right:45%;
    margin-bottom:50px;
    
    
    

 }   
    
    


 
   
    






/* .fa-brands .fa-apple {
    min-width: 70px;
    padding-left: 500px;


}
 */



    

   
   



